#### this cell was dedicated to turn the list of dictionaries(our synthetic dataset) to a unified JSON format.

`
emotions_list = [...]

import json

with open('../data/raw.json', 'w', encoding='utf-8') as f:
    json.dump(emotions_list, f, ensure_ascii=False, indent=4)
`

In [28]:
%%writefile ../src/data/create_dataset.py
import json
import pandas as pd
from datasets import Dataset

emotions = ["anger", "sadness", "joy", "fear", "surprise"]

with open('../data/raw.json', 'r', encoding='utf-8') as f:
    raw_data = json.load(f)

emotions_df = pd.DataFrame(raw_data, columns=["text", "emotion"])

Overwriting ../src/data/create_dataset.py

In [ ]:
emotions_df.sample(10)

In [29]:
%%writefile -a ../src/data/create_dataset.py

emotions_df["emotion"] = emotions_df["emotion"].replace("sad", "sadness")

Appending to ../src/data/create_dataset.py

In [20]:
emotions_df.groupby("emotion").count()

          text
emotion
anger      101
fear       113
joy        120
sadness    114
surprise   115

In [7]:
emotions_df.groupby("emotion").count().mean()

text    112.6
dtype: float64

In [21]:
emotions_df.size

1126

In [9]:
emotions_df.sample(10).reset_index(drop=True)

                                                text   emotion
0  My teacher told me I'd never make it, and some...   sadness
1  I have to give a speech at a funeral. I'm real...      fear
2            I didn't get into the college I wanted.   sadness
3  I'm sick and tired of your lies. Just tell the...     anger
4  We closed the deal today. The client was thril...       joy
5  I aced my final exams. I'm so relieved and happy!       joy
6  I can't believe you lost the files again. This...     anger
7  I just found out I'm being promoted to manager...  surprise
8  I failed the exam. I studied for weeks, but it...   sadness
9  I finished my first novel. I feel so accomplis...       joy

In [10]:
emotions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   text     563 non-null    object
 1   emotion  563 non-null    object
dtypes: object(2)
memory usage: 8.9+ KB

In [11]:
emotions_df.isnull().values

array([[False, False],
       [False, False],
       [False, False],
       ...,
       [False, False],
       [False, False],
       [False, False]], shape=(563, 2))

In [12]:
emotions_df.notnull().sum()

text       563
emotion    563
dtype: int64

In [13]:
emotions_df.notnull().all()

text       True
emotion    True
dtype: bool

In [49]:
emotions_df[emotions_df.isna().any(axis=1)]

Empty DataFrame
Columns: [text, emotion]
Index: []

In [30]:
%%writefile -a ../src/data/create_dataset.py

dataset = Dataset.from_pandas(emotions_df)
dataset = dataset.rename_column("emotion", "label")

Appending to ../src/data/create_dataset.py

In [15]:
dataset.column_names

['text', 'label']

In [52]:
dataset['label'][100:110]

['anger',
 'sadness',
 'sadness',
 'sadness',
 'sadness',
 'sadness',
 'sadness',
 'sadness',
 'sadness',
 'sadness']

In [31]:
%%writefile -a ../src/data/create_dataset.py

dataset.push_to_hub("AliAfkhamii/hf_emotion_generation_texts")

Appending to ../src/data/create_dataset.py